name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup do NodeJS
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 16.13.2
      - name: Mocha
        run: |
          cd src;
          npm install -g mocha;
          npm install
      - name: Test
        run: mocha src/test/convert.js

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_USERNAME}}
      - name: Build and push Docker images
        uses: docker/build-push-action@v5.1.0
        with:
          context: src
          file: src/Dockerfile
          push: true
          tags: |
            brennoliveira/aula-conversao-temperatura:v1
            brennoliveira/aula-conversao-temperatura:latest
